<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>1083930457785-bm3gt2puvfp4qpd12iuq897q9bkt30ni.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.1083930457785-bm3gt2puvfp4qpd12iuq897q9bkt30ni</string>
	<key>ANDROID_CLIENT_ID</key>
	<string>1083930457785-cdtvkndets5l8roslc6v8ujmaoitp9so.apps.googleusercontent.com</string>
	<key>API_KEY</key>
	<string>AIzaSyBoh0YTufm9rZ0RvfaghZUosE7OW04c3bM</string>
	<key>GCM_SENDER_ID</key>
	<string>1083930457785</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.atlantic.clientes.ios</string>
	<key>PROJECT_ID</key>
	<string>imax-450fb</string>
	<key>STORAGE_BUCKET</key>
	<string>imax-450fb.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:1083930457785:ios:2d0ec00e5b888fa3a5cd68</string>
	<key>DATABASE_URL</key>
	<string>https://imax-450fb.firebaseio.com</string>
</dict>
</plist>